html,body{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background: #f0eff5;
}
.panel{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.panel-container{
    display: inline-flex;
}
.panel-book,
.panel-activity,
.panel-personal{
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.panel-book{
    background: blue;
}
.panel-activity{
    background: yellow;
}
.panel-personal{
    background: red;
}
