@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -o-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

@mixin scaleY($scale) {
    -webkit-transform: scaleY($scale);
    -moz-transform: scaleY($scale);
    -ms-transform: scaleY($scale);
    -o-transform: scaleY($scale);
    transform: scaleY($scale);
}

@mixin scaleX($scale) {
    -webkit-transform: scaleX($scale);
    -moz-transform: scaleX($scale);
    -ms-transform: scaleX($scale);
    -o-transform: scaleX($scale);
    transform: scaleX($scale);
}

@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=$opacity * 100);
}
