@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?94h9wh");
  src: url("fonts/icomoon.eot?94h9wh#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?94h9wh") format("truetype"), url("fonts/icomoon.woff?94h9wh") format("woff"), url("fonts/icomoon.svg?94h9wh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home-outline:before {
  content: "\e901"; }

.icon-error:before {
  content: "\e900"; }

.icon-user:before {
  content: "\e902"; }

.icon-profile:before {
  content: "\e902"; }

.icon-avatar:before {
  content: "\e902"; }

.icon-flag:before {
  content: "\e903"; }

.icon-clipboard:before {
  content: "\e9b8"; }

.toolbar-list, .icon-booking, .icon-activity, .icon-personal,
.icon-home, .icon-home:before, .icon-home:after {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.toolbar-list {
  position: fixed;
  right: 20px;
  bottom: 150px;
  z-index: 2000;
  border-radius: 30px;
  background-color: rgba(171, 170, 170, 0.6);
  overflow: hidden;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s; }

.toolbar-list-hover {
  width: 265px; }
  .toolbar-list-hover .icon-home:before {
    top: -50px;
    opacity: 0; }
  .toolbar-list-hover .icon-home:after {
    top: 0;
    opacity: 1; }

.icon-booking, .icon-activity, .icon-personal {
  position: absolute;
  top: 0; }
  .icon-booking:before, .icon-booking:after, .icon-activity:before, .icon-activity:after, .icon-personal:before, .icon-personal:after {
    position: absolute;
    height: 30px;
    line-height: 1.6;
    color: #fff;
    text-align: center; }
  .icon-booking:before, .icon-activity:before, .icon-personal:before {
    top: 0;
    left: 15px;
    width: 30px;
    font-size: 25px; }
  .icon-booking:after, .icon-activity:after, .icon-personal:after {
    bottom: 0;
    left: 0;
    width: 60px;
    font-size: 12.5px; }

.icon-booking {
  right: 195px; }
  .icon-booking:before {
    content: "\e9b8"; }
  .icon-booking:after {
    content: "订场"; }

.icon-activity {
  right: 130px; }
  .icon-activity:before {
    content: "\e903"; }
  .icon-activity:after {
    content: "活动"; }

.icon-personal {
  right: 65px; }
  .icon-personal:before {
    content: "\e902"; }
  .icon-personal:after {
    content: "我"; }

.icon-home {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden; }
  .icon-home:before, .icon-home:after {
    position: absolute;
    left: 0;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .icon-home:before {
    content: "\e901";
    top: 0;
    opacity: 1; }
  .icon-home:after {
    content: "\e900";
    top: 60px;
    opacity: 0; }

/*# sourceMappingURL=index.css.map */
